/*-------------------------
	Fonts
--------------------------*/








/*-------------------------
	Icons
--------------------------*/

@font-face {
  font-family: 'icon';
  src: url('../fonts/icon.eot?14743742');
  src: url('../fonts/icon.eot?14743742#iefix') format('embedded-opentype'),
       url('../fonts/icon.woff?14743742') format('woff'),
       url('../fonts/icon.ttf?14743742') format('truetype'),
       url('../fonts/icon.svg?14743742#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-flickr:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\e802'; } /* '' */




/*-------------------------
	General Styles
--------------------------*/

body {
	font-family: "museo-sans", sans-serif;
	font-weight: 100;
	background-color: #fff;
	overflow: hidden;
}

.f-topbar-fixed {
	overflow: auto;
}

.row, .top-bar .row {
	width: 90%;
	max-width: 62.5em;
}

main section, footer, header, main {
	display: block;
}

main section, footer {
	padding: 5rem 0 2rem;
}

main section .columns, main section .column {
	margin-bottom: .9375em;
}

h2, h3, h4 {
	font-family: "museo-sans",sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: #110f0f;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin-bottom: 1.5rem;
}



h5 {
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

p {
	font-size: 1.2rem;
	color: #110f0f;
}

img {
	width: 100%;
}

::selection, ::-moz-selection {
	background: #ff5e3a;
	color: #fff;
}

.circle {
	border-radius: 50%;
}

.extra-padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

no-padding {
	padding: 0;
}

/*-------------------------
	MAIN NAV
--------------------------*/

.main-nav {
	background: none;
	padding-top: 30px;
}

.top-bar {
	width: 90%;
	margin: 0 auto;
	background: none;
	padding: 0;
	height: inherit;
	z-index: 998;
}

.top-bar-section {
	visibility: hidden;
	position: fixed;
	top: 0;
	background: none;
	height: 100%; width: 100%;
}

.top-bar-section ul {
	opacity: 0;
	margin-top: 20%;
	background: none;
}

.top-bar-section ul li {
	float: none;
	background: none;
}

.top-bar-section ul li > a {
	background: none;
	font-family: "museo-sans", sans-serif;
	font-weight: 100;
	font-size: 2rem;
	padding: 6px 0;
}

.top-bar-section li:not(.has-form) > a:not(.button).current, .top-bar-section li:not(.has-form) > a:not(.button):hover.current {
		color: #110f0f;
		background: none;
		cursor: default;
		pointer-events: none;
}

/* EXPANDED NAV */

.main-nav.expanded {
	background: #ff5e3a;
}

.top-bar.expanded {
	background: none;
}

.fixed.expanded, .fixed.expanded:not(.top-bar) {
	height: 100%;
}

.top-bar.expanded .toggle-topbar {
	background: none;
	z-index: 100;
}

.top-bar.expanded .top-bar-section {
	visibility: visible;
}

.top-bar.expanded .top-bar-section ul {
	opacity: 1;
}

.fixed.expanded:not(.top-bar) .top-bar-section {
	margin-top: 0;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	text-transform: uppercase;
	background: none;
	padding: 0;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	color: #110f0f;
	background: none;
}

/* MENU TOGGLE */

.top-bar .toggle-topbar {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}
.toggle-topbar span, .toggle-topbar span:before, .toggle-topbar span:after {
  cursor: pointer;
  height: 2px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.toggle-topbar span:before {
  top: -10px; 
}
.toggle-topbar span:after {
  bottom: -10px;
}

.top-bar.expanded .toggle-topbar span {
  background-color: transparent;
}
.top-bar.expanded .toggle-topbar span:before, .top-bar.expanded .toggle-topbar span:after {
  top: 0;
}
.top-bar.expanded .toggle-topbar span:before {
  transform: rotate(45deg);
}
.top-bar.expanded .toggle-topbar span:after {
  transform: rotate(-45deg);
}




/*-------------------------
	HEADER
--------------------------*/

header {
	position: relative;
	height: 100%; width: 100%;
	overflow: hidden;
	background-color: #110f0f;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
}

header:after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: .3;
}

header .row {
	height: 100%;
}

.title-strap {
	top: 75%;
	z-index: 999;
}

.title-strap h1 a {
	display: block;
	background: transparent url('../img/russellprivett.svg') 0 50% no-repeat;
	overflow: hidden;
	text-indent: -9999em;
}

.title-strap ul {
	border-top: 1px #f0f0f0 solid;
	margin: 15px 0 0;
	list-style: none;
}

.title-strap ul li {
	float: left;		
	
}

.title-strap ul li a {
	display: block;
	font-family: 'museo-sans', sans-serif;
	font-weight: 100;
	font-size: 1.1rem;
	color: #fff;
	text-decoration:none;
	line-height:1.3em;
	padding: 7px 0 2px;
	margin-right: 10px;
}






/*-------------------------
	THE MAIN CONTAINER
--------------------------*/

.portfolio-links a {
	position: relative;
	display: block;
	height: 300px;
	background-origin: 50% 50%;
	background-size: cover;
}

.portfolio-links a:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: .3;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.portfolio-links a:hover:before {
	opacity: .7;
}

.portfolio-links .title {
	position: absolute;
	color: #fff;
	top: 30%; bottom: 0; left:0; right: 0;
	height: 100%;
}

.portfolio-links .title h4, .portfolio-links .title p {
	color: #fff;
}

.portfolio-links .title h4 {
	font-size: 3em;
	margin: 0;
}

.portfolio-links .title p {
	text-transform: uppercase;
	margin-top: -.5rem;
	
}


/*-------------------------
	The footer
--------------------------*/

footer {
	height: 100%;
	width: 100%;
	background-color: #ff5e3a;
	border-bottom: none;
}

.contact-details a {
	font-size: 1.5rem;
	color: #110f0f;
}

.contact-details ul {
	list-style: none;
}

.social a {
	width: 70px;
	height: 70px;
	display: inline-block;
	margin: 10px 0 5px;
	background: #000;
	border: 1px #000 solid;
}

.social a:before {
	font-size: 25px;
	line-height: 70px;
}

/*-------------------------
	SMALL ONLY
--------------------------*/


@media only screen and (max-width: 40em) {
	.small-only-collapse {
		padding: 0;
	}
}


/*-------------------------
	MEDIUM
--------------------------*/

@media only screen and (min-width: 40.063em) {
		
		
		main section .columns, main section .column {
			margin-bottom: .9375em;
		}
		
		header {
			min-height: 560px;
		}
		.top-bar-section ul {
			margin-top: 10%;
		}
		.top-bar-section ul li > a {
			font-size: 5rem;
		}
		.top-bar-section li:not(.has-form) a:not(.button) {
			line-height: 1;
		}
		
		.title-strap ul li a {
			padding: 10px 0;
		}
	}

/*-------------------------
	MEDIUM - LARGE
--------------------------*/

@media only screen and (min-width: 52.063em) {

	
}



/*-------------------------
	LARGE
--------------------------*/

@media only screen and (min-width: 64.063em) {
	
	
}

/*-------------------------
	EXTRA - LARGE
--------------------------*/

@media only screen and (min-width: 90.063em) {
	
}






/*-------------------------
	ANIMATIONS
--------------------------*/

.animation-all, .animation-all:before, .animation-all:after {
	-webkit-transition: all .2s 0 ease-in-out;
	-moz-transition: all .2s 0s ease-in-out;
	-ms-transition: all .2s 0 ease-in-out;
	-o-transition: all .2s 0 ease-in-out;
	transition: all .2s 0s ease-in-out;
}

.animation-all-slow {
	-webkit-transition: all .6s 0 ease-in-out;
	-moz-transition: all .6s 0s ease-in-out;
	-ms-transition: all .6s 0 ease-in-out;
	-o-transition: all .6s 0 ease-in-out;
	transition: all .6s 0s ease-in-out;
}

.animation-bgColor {
	-webkit-transition: background-color .2s 0 ease-in-out;
	-moz-transition: background-color .2s 0s ease-in-out;
	-ms-transition: background-color .2s 0 ease-in-out;
	-o-transition: background-color .2s 0 ease-in-out;
	transition: background-color .2s 0s ease-in-out;
}

.animation-border {
	-webkit-transition: border .2s 0 ease-in-out;
	-moz-transition: border .2s 0 ease-in-out;
	-o-transition: border .2s 0 ease-in-out;
	transition: border .2s 0 ease-in-out;
}